/* resset default styles */
*, ::before, ::after {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.container {
  display: flex;
  gap: 25px;
  max-width: 80%;
}

/* left card */
.card {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.278);
  max-width: 350px;
  align-items: start;
}
.card__logo {
  background-color: blueviolet;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.card__title {
  font-size: x-large
}
.card__button {
  background-color: blueviolet;
  padding: 15px;
  align-items: center;
  color: white;
}

/* right cards */
.courses {
  display: flex;
  gap: 25px;
  flex-flow: wrap;
}

.course {
  flex-basis: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
.course::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(137, 43, 226, 0.711);
  width: 100%;
  height: 100%;
}
.course__image {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.course__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.course__title {
  font-size: xx-large;
}